<img src="{{ album.album_logo }}" alt="{{ album.album_title }}" height="200" width="200">

<h2>{{ album.album_title }}</h2>
<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter}}" name="song" value="{{song.id}}">
        <label for="song{{ forloop.counter}}">
            {{ song.song_title }}
            {% if song.is_favorite%}
                <img src="https://openclipart.org/image/2400px/svg_to_png/14693/Rocket000-emblem-star.png " height="10" width="10">
            {% else %}
                <img src="http://bsccongress.com/im7/star-shape-clip-art.png",height="10" width="10">
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite It">
</form>